APP_ID="vahedyek"
NEXT_PUBLIC_APP_ID="vahedyek"
DATABASE_URL="postgres://parsdbshop:ZtKKAQWA00umtkNXUMcjVNRD6avXFOVDOfqGcTTLwhnGUYq6EnSvaYsyJi06sx6j@62.3.14.124:6986/vahed1"
AUTH_JWT_SECRET="replace-me"
NEXT_PUBLIC_NESHAN_MAP_KEY=""
